#navbar {
	overflow: hidden;
	background-color: #4dffb8;
	box-shadow: 0px 5px 5px #00b3b3;
}
#navbar a.active {
	background-color: white;
	color:white;
	
}
#navbar a {
	float: left;
	display; block;
	color: white;
	text-align: center;
	padding: 12px 20px;
	font-size: 35px;
}
#navbar a:hover {
	
	color: #00b3b3;
	width: "50px";
	height: "35px";
	
}

 a.image {
	font-size: 40px;
	padding: 1px 1px;
	width:10px;
	height:10px;
		
}

/* mega menu*/

 /* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 36px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 20px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: white;
  color: #00b3b3;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #6666ff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
} 

/*end of mega menu*/

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
body {
  margin: 3;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ccffeb;
}

/* The container */
.container {
  display: inline;
  position: relative;
  padding-left: 35px;
  left: 2%;
  top: 17px;
  margin-bottom: 17px;
  cursor: pointer;
  font-size: 37px;
  text-align:center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ccc;
  border-radius: 100%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}
