#navbar {
	overflow: hidden;
	background-color: #4dffb8;
	box-shadow: 0px 5px 5px #00b3b3;
}
#navbar a.active {
	background-color: white;
	color:white;
	
}
#navbar a {
	float: left;
	display; block;
	color: white;
	text-align: center;
	padding: 12px 20px;
	font-size: 35px;
}
#navbar a:hover {
	
	color: #00b3b3;
	width: "50px";
	height: "35px";
	
}

 a.image {
	font-size: 40px;
	padding: 1px 1px;
	width:10px;
	height:10px;
		
}

/* mega menu*/

 /* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 36px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 20px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: white;
  color: #00b3b3;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #6666ff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
} 

/*end of mega menu*/

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
body {
  margin: 3;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ccffeb;
}

/* The container */
.container {
  display: inline;
  position: relative;
  padding-left: 35px;
  left: 28%;
  right: 2%;
  top: 17px;
  margin-bottom: 17px;
  cursor: pointer;
  font-size: 90%;
  text-align:center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ccc;
  border-radius: 100%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #4dffb8;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #80bfff;
}

input[type="radio" name="radio"] {
    margin-left:10px;
}

h5{
	text-align:center;
}

/*Kalendar*/

* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

.month {
/*adding-top: 10%;*/
  padding: 70px 25px;
  width: 80%;
  height: 100%;
  background: #1abc9c;
  text-align: center;
  margin-top: 6%;
  margin-left: 8%;
}

.month ul {
  margin: 0;
  padding: 0;
  width: 100%;
  
}

.month ul li {
  color: white;
  font-size: 22px;
  padding: 20px 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
  margin-right: 0px;
}

.weekdays {
  margin: 0;
  width: 80%;
  left: 25%;
  padding: 20px 1px;
  background-color: #ddd;
  margin-left: 8%;
  font-size: 20px;
}

.weekdays li {
  display: inline-block;
  width: 12.5%;
  color: #666;
  text-align: center;
}

.days {
  padding: 20px 20px;
  background: #eee;
  margin: 0;
  border: 5px solid black;
  width: 80%;
  margin-left: 8%;
  
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 12%;
  padding: 20px 20px;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
  left: 25%;
  
}

.days li .active {
  border: 2px solid red;
  padding:20px 20px;
  background: green;
  color: black !important
}

.color {
  border: 2px solid red;
  padding:20px 20px;
  background: blue;
  color: black !important
}

.color1 {
  border: 2px solid red;
  padding:20px 20px;
  background: grey;
  color: black !important
}

.color2 {
  border: 2px solid red;
  padding:20px 20px;
  background: purple;
  color: black !important
}

.color3 {
  border: 2px solid red;
  padding:20px 20px;
  background: brown;
  color: black !important
}

.color4 {
  border: 2px solid red;
  padding:20px 20px;
  background: pink;
  color: black !important
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
} 
