#navbar {
	overflow: hidden;
	background-color: #4dffb8;
	box-shadow: 0px 5px 5px #00b3b3;
}
#navbar a.active {
	background-color: white;
	color:white;
	
}
#navbar a {
	float: left;
	display; block;
	color: white;
	text-align: center;
	padding: 12px 20px;
	font-size: 35px;
}
#navbar a:hover {
	
	color: #00b3b3;
	width: "50px";
	height: "35px";
	
}

 a.image {
	font-size: 40px;
	padding: 1px 1px;
	width:10px;
	height:10px;
		
}

/* mega menu*/

 /* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 36px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 20px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: white;
  color: #00b3b3;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #6666ff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
} 

/*end of mega menu*/

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
body {
  margin: 3;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ccffeb;
}

body {font-family: "Lato", sans-serif;}

.tablink {
  background-color: #00b3b3;
  color: black;
  float: left;
  border: 2px solid #00b3b3;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 22px;
  width: 50%;
}

.tablink:hover {
  background-color: #4dff4d;
}

/* Style the tab content */
.tabcontent {
  color: white;
  display: none;
  padding: 0px 12px;
  width: 100%;
  text-align: center;
  font-size: 30px;
}

#London {background-color:#ccffeb;}
#Paris {background-color:#ccffeb;}

* {box-sizing: border-box}
body {font-family: "Lato", sans-serif;}

/* Style the tab */
.tab {
  float: left;
  border: 2px solid #00b3b3;
  background-color: #4dffb8;
  width: 30%;
  height: 2200px;
}
/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #80bfff;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #00b3b3;
}

/* Style the tab content */
.content {
  float: left;
  padding: 0px 12px;
  border: 2px solid #00b3b3;
  width: 70%;
  border-left: none;
  height: 2200px;
}

* {box-sizing: border-box}
body {font-family: "Lato", sans-serif;}

.tabb {
  float: left;
  border: 2px solid #00b3b3;
  background-color: #4dffb8;
  width: 30%;
  height: 2200px;
}
/* Style the buttons inside the tab */
.tabb button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tabb button:hover {
  background-color: #80bfff;
}

/* Create an active/current "tab button" class */
.tabb button.active {
  background-color: #00b3b3;
}

/* Style the tab content */
.content1 {
  float: left;
  padding: 0px 12px;
  border: 2px solid #00b3b3;
  width: 70%;
  border-left: none;
  height: 2200px;
}

img.imagee{
	float: right;
	position:auto;
}

p{
	text-align: left;
	font-size:25px;
	color: black;
}

h2{
	text-align: left;
	font-size:30px;
	color: black;
}

h3{
	color:black;
}
h1{
	color:black;
}

#button{
	/*background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;*/
	float: left;
}
/*button to the top*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #00b3b3;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}